@media (max-width: 1000px) {
    .card-body-main {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
@media (min-width: 1000px) {
    .card-body-main {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}
.main-dashboard-card {
    margin-top: 3rem!important;
}

.comic-list-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
